<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net4" />
  <package id="Nancy" version="1.2.0" targetFramework="net452" />
  <package id="Nancy.Hosting.Self" version="1.2.0" targetFramework="net452" />
  <package id="Npgsql" version="2.2.4.3" targetFramework="net452" />
  <package id="Simple.Data.Ado" version="0.19.0.0" targetFramework="net4" />
  <package id="Simple.Data.Core" version="0.19.0.0" targetFramework="net4" />
  <package id="Simple.Data.PostgreSql" version="0.17.0.0" targetFramework="net4" />
  <package id="Topshelf" version="3.2.0" targetFramework="net452" />
</packages>